%p#notice= notice

%p
  %b Text:
  = @excuse.text
%p
  %b User:
  = @excuse.user.name
%p
  %b Location:
  = @excuse.location.name unless @excuse.location.nil?

= link_to 'Edit', edit_excuse_path(@excuse)
= link_to 'Back', excuses_path
