= form_for @user do |f|

	-if @user.errors.any?
		= render 'layouts/errors', :obj => @user

	%ul
		%li= f.label :name
		%li= f.text_field :name

		%li= f.label :email
		%li= f.text_field :email

		%li= f.label :password
		%li= f.password_field :password

		%li= f.label :password_confirmation, "Confirm Password"
		%li= f.password_field :password_confirmation

		= fields_for :location do |f_loc|
			%li= f_loc.label :name, "Location"
			%li= f_loc.text_field :name

		%li= f.submit 'Save'