%footer
	%ul
		%li= link_to "Excuse",		app_excuse_url
		%li= link_to "Search",		app_search_url
		%li= link_to "Location",	app_location_url
		%li= link_to "Tag",			app_tag_url
		%li= link_to "User",		app_user_url

%p= session[:user_id] if session[:user_id]