%footer

	%ul
		%li
			= link_to "H", app_excuse_url, :class => "icon"
			%span.nav_label Home

		%li
			= link_to "S", app_search_url, :class => "icon"
			%span.nav_label Search

		%li
			= link_to "L", app_location_url, :class => "icon"
			%span.nav_label Location

		%li
			= link_to "T", app_tag_url, :class => "icon"
			%span.nav_label Tag

		%li
			= link_to "A", app_user_url, :class => "icon"
			%span.nav_label Account