%dl
	%dd= link_to "H", app_excuse_url, :class => "icon"
	%dt Home

	%dd= link_to "S", app_search_url, :class => "icon"
	%dt Search

	%dd= link_to "L", app_location_url, :class => "icon"
	%dt Location

	%dd= link_to "T", app_tag_url, :class => "icon"
	%dt Tag

	%dd= link_to "A", app_user_url, :class => "icon"
	%dt Account